body { 
    padding: 2%; 
    font: 18px/1.4 sans-serif;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   /*Nav Bar*/
   nav
   {
     border-radius: 20px;
     border: solid rgba(99, 97, 97, 0.357) 2px;
      width: 50%;
      
  }
  nav a { 
      color: rgb(255, 255, 255); 
      display: block; 
      padding: 0.5em 1em; 
      text-decoration: none; 
    }
    
    nav > ul { 
      background: rgba(0, 0, 0, 0.7); 
      text-align: center; 
      border-radius: 20px;
    }
    nav > ul > li { 
      display: inline-block;
    }
    nav > ul > li:first-child { 
      border-left: none;
    }
    nav ul,
    nav ul li {
      list-style-type: none; 
      padding: 0; 
      margin: 0; 
    }
    
    .sub-menu {
      background: rgb(0, 0, 0);
    }
    /*Nav hover*/
  
    nav a:hover { 
      color: #F55; 
    }
    .menu-parent { 
      position: relative; 
    padding: 5px;
  }
  
  .sub-menu { 
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  
  .menu-parent:focus .sub-menu,
  .menu-parent:focus-within .sub-menu,
  .menu-parent:hover .sub-menu {
    visibility: visible; /* shows sub-menu with hover */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  }
  
  /* presentational */
  header img {
    width: 20vh;
    margin-top: 2em;
  }
  
  main {
    display: flex;
    flex-direction: column;
    
  }
  
  .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }
  h3 {
    color: white;
  }
  